@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-family: var(--font-nanum-square-neo), sans-serif;
}

html {
  font-size: 14px;
}

.mobile-view {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;

  touch-action: none;

  min-height: 100dvh;

  background-color: #fff;
  position: relative;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
