@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
}

.mobile-view {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;

  min-height: 100dvh;

  background-color: #fff;
  position: relative;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
